# Time Series

### Date and Time Data Types and Tools

In [1]:
from datetime import datetime
now = datetime.now()
now

datetime.datetime(2017, 11, 14, 20, 38, 19, 565000)

In [2]:
now.year, now.month, now.day

(2017, 11, 14)

In [3]:
delta = datetime(2011, 1, 7) - datetime(2008, 6, 24, 8, 15)
delta

datetime.timedelta(926, 56700)

In [4]:
delta.days

926

In [5]:
delta.seconds

56700

In [6]:
from datetime import timedelta
start = datetime(2011, 1, 7)
start + timedelta(12)

datetime.datetime(2011, 1, 19, 0, 0)

In [7]:
start - 2*timedelta(12)

datetime.datetime(2010, 12, 14, 0, 0)

##### Converting between string and datetime

In [9]:
stamp = datetime(2011, 1, 3)
str(stamp)

'2011-01-03 00:00:00'

In [10]:
stamp.strftime('%Y-%m-%d')

'2011-01-03'

In [11]:
value = '2011-01-03'
datetime.strptime(value, '%Y-%m-%d')

datetime.datetime(2011, 1, 3, 0, 0)

In [13]:
datetime(2011, 1, 3, 0, 0)

datetime.datetime(2011, 1, 3, 0, 0)

In [14]:
datestrs = ['7/6/2011', '8/6/2011']
[datetime.strptime(x, '%m/%d/%Y') for x in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

In [15]:
from dateutil.parser import parse
parse('2011-01-03')

datetime.datetime(2011, 1, 3, 0, 0)

In [16]:
parse('Jan 31, 1997 10:45 PM')

datetime.datetime(1997, 1, 31, 22, 45)

In [17]:
parse('6/12/2011', dayfirst=True)

datetime.datetime(2011, 12, 6, 0, 0)

In [19]:
import pandas as pd
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06', '2011-08-06'], dtype='datetime64[ns]', freq=None)

In [21]:
idx = pd.to_datetime(datestrs + [None])
idx

DatetimeIndex(['2011-07-06', '2011-08-06', 'NaT'], dtype='datetime64[ns]', freq=None)

In [22]:
pd.isnull(idx)

array([False, False,  True], dtype=bool)

### Time Series Basics

In [25]:
import numpy as np
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5), datetime(2011, 1, 7), 
         datetime(2011, 1, 8), datetime(2011, 1, 10), datetime(2011, 1, 12)]
ts = pd.Series(np.random.randn(6), index = dates)
ts

2011-01-02   -0.207490
2011-01-05   -1.947827
2011-01-07    1.757574
2011-01-08    1.612617
2011-01-10    1.155201
2011-01-12   -1.281821
dtype: float64

In [26]:
type(ts)

pandas.core.series.Series

In [27]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [29]:
ts + ts[::2]

2011-01-02   -0.414981
2011-01-05         NaN
2011-01-07    3.515148
2011-01-08         NaN
2011-01-10    2.310403
2011-01-12         NaN
dtype: float64

In [30]:
ts.index.dtype

dtype('<M8[ns]')

In [31]:
stamp = ts.index[0]
stamp

Timestamp('2011-01-02 00:00:00')

##### Indexing, Selection, Subsetting

In [32]:
stamp = ts.index[2]
ts[stamp]

1.757574224345094

In [33]:
ts['1/10/2011']

1.1552013716577967

In [34]:
ts['20110110']

1.1552013716577967

In [37]:
longer_ts = pd.Series(np.random.randn(1000), 
                      index=pd.date_range('1/1/2000', periods=1000))
longer_ts

2000-01-01   -1.332567
2000-01-02   -0.366373
2000-01-03    0.743888
2000-01-04   -0.821424
2000-01-05   -0.688414
2000-01-06    0.000897
2000-01-07    1.211856
2000-01-08   -0.417318
2000-01-09   -0.945402
2000-01-10   -0.296137
2000-01-11   -0.201811
2000-01-12   -0.301147
2000-01-13   -0.756195
2000-01-14   -1.505461
2000-01-15    1.143538
2000-01-16   -0.360662
2000-01-17   -0.721164
2000-01-18   -1.308919
2000-01-19   -1.709211
2000-01-20   -0.561234
2000-01-21    0.579070
2000-01-22    1.247263
2000-01-23   -0.317287
2000-01-24   -0.277841
2000-01-25   -0.230403
2000-01-26    1.377973
2000-01-27   -0.808792
2000-01-28    0.327849
2000-01-29   -0.720074
2000-01-30    0.046493
                ...
2002-08-28    1.621465
2002-08-29    0.230979
2002-08-30    0.847207
2002-08-31   -1.227963
2002-09-01    1.101447
2002-09-02   -1.047665
2002-09-03    0.021543
2002-09-04    0.114913
2002-09-05    0.721027
2002-09-06   -0.891641
2002-09-07   -0.910468
2002-09-08   -0.098963
2002-09-09    0.093855
2002-09-10   -0.920686
2002-09-11    0.357642
2002-09-12   -1.073272
2002-09-13    0.270265
2002-09-14    1.318819
2002-09-15   -0.311541
2002-09-16    1.122603
2002-09-17   -1.687432
2002-09-18   -0.624272
2002-09-19    2.334103
2002-09-20   -1.504147
2002-09-21   -0.706369
2002-09-22   -0.122356
2002-09-23   -0.107272
2002-09-24   -0.584508
2002-09-25    1.526155
2002-09-26    1.328082
Freq: D, dtype: float64

In [38]:
longer_ts['2001']

2001-01-01    0.444717
2001-01-02   -0.820041
2001-01-03   -0.989104
2001-01-04   -0.454525
2001-01-05   -0.522033
2001-01-06    1.452205
2001-01-07   -0.629117
2001-01-08   -0.050064
2001-01-09   -0.521257
2001-01-10   -0.352122
2001-01-11   -1.653422
2001-01-12    0.420156
2001-01-13   -1.178694
2001-01-14   -1.177548
2001-01-15   -1.006115
2001-01-16    0.358062
2001-01-17   -2.342188
2001-01-18    1.551835
2001-01-19   -2.143352
2001-01-20   -0.805363
2001-01-21    1.562917
2001-01-22   -0.187061
2001-01-23    0.406177
2001-01-24    0.160214
2001-01-25   -0.403254
2001-01-26    1.091146
2001-01-27    0.519879
2001-01-28    0.828128
2001-01-29    0.871310
2001-01-30    1.391029
                ...
2001-12-02    1.126967
2001-12-03    1.476074
2001-12-04   -0.051071
2001-12-05    0.715045
2001-12-06   -1.074442
2001-12-07    1.780412
2001-12-08   -0.096917
2001-12-09   -0.459371
2001-12-10    1.431318
2001-12-11   -0.504732
2001-12-12    0.898745
2001-12-13    0.067465
2001-12-14   -0.571561
2001-12-15   -1.862522
2001-12-16   -0.824318
2001-12-17    1.124414
2001-12-18   -0.098975
2001-12-19    2.071613
2001-12-20   -2.584222
2001-12-21    0.144830
2001-12-22    2.702227
2001-12-23   -0.697927
2001-12-24   -0.737632
2001-12-25   -1.676263
2001-12-26   -1.428180
2001-12-27    0.244267
2001-12-28   -0.225918
2001-12-29    1.590350
2001-12-30    1.014367
2001-12-31    0.335502
Freq: D, dtype: float64

In [39]:
longer_ts['2001-05']

2001-05-01    1.025779
2001-05-02   -0.389265
2001-05-03    0.455685
2001-05-04    0.415204
2001-05-05    0.413851
2001-05-06   -0.988926
2001-05-07    0.499243
2001-05-08   -1.477048
2001-05-09   -0.447265
2001-05-10   -0.910230
2001-05-11   -0.604200
2001-05-12    1.445176
2001-05-13   -1.669203
2001-05-14    0.475875
2001-05-15    0.080675
2001-05-16   -0.870957
2001-05-17   -1.121765
2001-05-18   -0.155992
2001-05-19    1.919105
2001-05-20    0.312227
2001-05-21   -0.367437
2001-05-22    0.211574
2001-05-23   -0.988826
2001-05-24   -0.435505
2001-05-25   -0.844839
2001-05-26    1.084746
2001-05-27    0.557839
2001-05-28   -1.251785
2001-05-29    1.142277
2001-05-30   -1.396374
2001-05-31    2.066681
Freq: D, dtype: float64

In [40]:
ts[datetime(2011, 1, 7):]

2011-01-07    1.757574
2011-01-08    1.612617
2011-01-10    1.155201
2011-01-12   -1.281821
dtype: float64

In [41]:
ts

2011-01-02   -0.207490
2011-01-05   -1.947827
2011-01-07    1.757574
2011-01-08    1.612617
2011-01-10    1.155201
2011-01-12   -1.281821
dtype: float64

In [42]:
ts['1/6/2011':'1/11/2011']

2011-01-07    1.757574
2011-01-08    1.612617
2011-01-10    1.155201
dtype: float64

In [43]:
ts.truncate(after='1/9/2011')

2011-01-02   -0.207490
2011-01-05   -1.947827
2011-01-07    1.757574
2011-01-08    1.612617
dtype: float64

In [46]:
dates = pd.date_range('1/1/2000', periods=100, freq='W-WED')
long_df = pd.DataFrame(np.random.randn(100, 4), index = dates, 
                      columns = ['Colorado', 'Texas', 'New York', 'Ohio'])
long_df.ix['5-2001']

            Colorado     Texas  New York      Ohio
2001-05-02  1.162888  2.030505 -0.623889  1.938909
2001-05-09 -0.906196  0.930093 -0.368107 -1.343996
2001-05-16  0.292619 -0.269881  1.751476  0.237079
2001-05-23  0.991415 -0.352569  0.272496 -0.729922
2001-05-30  0.812641 -0.099528 -0.657646 -0.362851

##### Time Series with Duplicate Indices

### Date Ranges, Frequencies and Shifting

##### Generating Date Ranges

##### Frequencies and Date Offsets

##### Shifting(Leading and Lagging) Data

### Time Zone Handling

### Periods and Period Arithmetic

### Resampling and Frequency Conversion

### Time Series Plotting

### Moving Window Functions