# Time Series

### Date and Time Data Types and Tools

In [2]:
from datetime import datetime
now = datetime.now()
now

datetime.datetime(2017, 11, 15, 20, 19, 9, 507000)

In [3]:
now.year, now.month, now.day

(2017, 11, 15)

In [4]:
delta = datetime(2011, 1, 7) - datetime(2008, 6, 24, 8, 15)
delta

datetime.timedelta(926, 56700)

In [5]:
delta.days

926

In [6]:
delta.seconds

56700

In [7]:
from datetime import timedelta
start = datetime(2011, 1, 7)
start + timedelta(12)

datetime.datetime(2011, 1, 19, 0, 0)

In [8]:
start - 2*timedelta(12)

datetime.datetime(2010, 12, 14, 0, 0)

##### Converting between string and datetime

In [9]:
stamp = datetime(2011, 1, 3)
str(stamp)

'2011-01-03 00:00:00'

In [10]:
stamp.strftime('%Y-%m-%d')

'2011-01-03'

In [11]:
value = '2011-01-03'
datetime.strptime(value, '%Y-%m-%d')

datetime.datetime(2011, 1, 3, 0, 0)

In [12]:
datetime(2011, 1, 3, 0, 0)

datetime.datetime(2011, 1, 3, 0, 0)

In [13]:
datestrs = ['7/6/2011', '8/6/2011']
[datetime.strptime(x, '%m/%d/%Y') for x in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

In [14]:
from dateutil.parser import parse
parse('2011-01-03')

datetime.datetime(2011, 1, 3, 0, 0)

In [15]:
parse('Jan 31, 1997 10:45 PM')

datetime.datetime(1997, 1, 31, 22, 45)

In [16]:
parse('6/12/2011', dayfirst=True)

datetime.datetime(2011, 12, 6, 0, 0)

In [17]:
import pandas as pd
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06', '2011-08-06'], dtype='datetime64[ns]', freq=None)

In [18]:
idx = pd.to_datetime(datestrs + [None])
idx

DatetimeIndex(['2011-07-06', '2011-08-06', 'NaT'], dtype='datetime64[ns]', freq=None)

In [19]:
pd.isnull(idx)

array([False, False,  True], dtype=bool)

### Time Series Basics

In [20]:
import numpy as np
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5), datetime(2011, 1, 7), 
         datetime(2011, 1, 8), datetime(2011, 1, 10), datetime(2011, 1, 12)]
ts = pd.Series(np.random.randn(6), index = dates)
ts

2011-01-02   -1.385380
2011-01-05    1.765408
2011-01-07   -1.844047
2011-01-08    0.492752
2011-01-10   -0.156418
2011-01-12   -0.861992
dtype: float64

In [21]:
type(ts)

pandas.core.series.Series

In [22]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [23]:
ts + ts[::2]

2011-01-02   -2.770761
2011-01-05         NaN
2011-01-07   -3.688095
2011-01-08         NaN
2011-01-10   -0.312836
2011-01-12         NaN
dtype: float64

In [24]:
ts.index.dtype

dtype('<M8[ns]')

In [25]:
stamp = ts.index[0]
stamp

Timestamp('2011-01-02 00:00:00')

##### Indexing, Selection, Subsetting

In [26]:
stamp = ts.index[2]
ts[stamp]

-1.8440474110799887

In [27]:
ts['1/10/2011']

-0.15641791995801868

In [28]:
ts['20110110']

-0.15641791995801868

In [29]:
longer_ts = pd.Series(np.random.randn(1000), 
                      index=pd.date_range('1/1/2000', periods=1000))
longer_ts

2000-01-01    0.394768
2000-01-02    0.321041
2000-01-03   -0.000460
2000-01-04   -0.886478
2000-01-05   -0.545566
2000-01-06   -2.123607
2000-01-07    0.909447
2000-01-08   -2.192998
2000-01-09   -1.492670
2000-01-10    0.946888
2000-01-11    0.295202
2000-01-12   -0.135843
2000-01-13    0.592191
2000-01-14   -1.136704
2000-01-15   -0.667607
2000-01-16    0.063401
2000-01-17   -1.292299
2000-01-18    0.694360
2000-01-19    0.077993
2000-01-20   -0.488248
2000-01-21    0.448866
2000-01-22   -0.636959
2000-01-23    0.139450
2000-01-24    0.595086
2000-01-25   -0.037929
2000-01-26   -1.425070
2000-01-27   -0.903967
2000-01-28    1.735769
2000-01-29    1.593243
2000-01-30   -1.738665
                ...
2002-08-28    1.722637
2002-08-29   -0.120541
2002-08-30   -0.502154
2002-08-31    0.480491
2002-09-01    0.441228
2002-09-02   -0.466281
2002-09-03    1.427442
2002-09-04   -0.711706
2002-09-05   -0.629744
2002-09-06   -1.665075
2002-09-07    0.046181
2002-09-08    0.229443
2002-09-09   -1.119631
2002-09-10    1.396588
2002-09-11    0.413318
2002-09-12    0.934216
2002-09-13   -1.583743
2002-09-14   -0.292780
2002-09-15    0.012202
2002-09-16   -0.813545
2002-09-17   -0.981742
2002-09-18    1.713324
2002-09-19    1.060454
2002-09-20   -0.685702
2002-09-21    1.021057
2002-09-22    0.263496
2002-09-23   -0.169589
2002-09-24    0.938012
2002-09-25    2.347430
2002-09-26    0.112100
Freq: D, dtype: float64

In [30]:
longer_ts['2001']

2001-01-01   -0.444477
2001-01-02   -0.241461
2001-01-03    1.931656
2001-01-04    1.157382
2001-01-05    1.487057
2001-01-06   -0.414329
2001-01-07   -0.427581
2001-01-08    0.150278
2001-01-09    0.176691
2001-01-10   -1.163180
2001-01-11   -1.219046
2001-01-12   -0.146287
2001-01-13   -2.343887
2001-01-14   -0.314870
2001-01-15   -0.193799
2001-01-16   -0.684112
2001-01-17    0.843699
2001-01-18   -0.201090
2001-01-19   -0.556832
2001-01-20    1.102431
2001-01-21   -0.878157
2001-01-22    0.163239
2001-01-23   -0.089182
2001-01-24   -0.671084
2001-01-25    2.451596
2001-01-26   -0.326228
2001-01-27   -0.892093
2001-01-28    0.287490
2001-01-29    0.640243
2001-01-30   -0.322361
                ...
2001-12-02    0.989539
2001-12-03    0.621318
2001-12-04   -0.249068
2001-12-05   -0.842803
2001-12-06    0.866166
2001-12-07    1.713269
2001-12-08   -0.062073
2001-12-09    0.659932
2001-12-10   -1.009518
2001-12-11   -1.376780
2001-12-12   -1.715687
2001-12-13    0.738496
2001-12-14    1.543500
2001-12-15    1.306656
2001-12-16   -1.192516
2001-12-17   -0.449392
2001-12-18   -2.291494
2001-12-19   -0.815886
2001-12-20   -0.345007
2001-12-21    1.866360
2001-12-22   -0.645851
2001-12-23    0.083987
2001-12-24    0.375789
2001-12-25   -0.563263
2001-12-26    0.290573
2001-12-27   -0.031989
2001-12-28    1.081706
2001-12-29    1.434085
2001-12-30    1.140361
2001-12-31   -0.399479
Freq: D, dtype: float64

In [31]:
longer_ts['2001-05']

2001-05-01   -0.137164
2001-05-02    0.967941
2001-05-03    0.345237
2001-05-04    0.111770
2001-05-05    1.856039
2001-05-06   -1.724893
2001-05-07    2.548137
2001-05-08   -0.336669
2001-05-09    2.249084
2001-05-10   -0.466945
2001-05-11    1.588378
2001-05-12    0.390071
2001-05-13   -1.186137
2001-05-14    1.142602
2001-05-15    1.626731
2001-05-16   -0.200834
2001-05-17    0.137816
2001-05-18    1.748075
2001-05-19   -0.287846
2001-05-20    1.847696
2001-05-21   -1.491668
2001-05-22   -0.501108
2001-05-23   -0.646151
2001-05-24   -2.043268
2001-05-25   -0.001905
2001-05-26    0.191516
2001-05-27   -0.401790
2001-05-28    0.946623
2001-05-29   -0.161636
2001-05-30    0.087233
2001-05-31    0.682670
Freq: D, dtype: float64

In [32]:
ts[datetime(2011, 1, 7):]

2011-01-07   -1.844047
2011-01-08    0.492752
2011-01-10   -0.156418
2011-01-12   -0.861992
dtype: float64

In [33]:
ts

2011-01-02   -1.385380
2011-01-05    1.765408
2011-01-07   -1.844047
2011-01-08    0.492752
2011-01-10   -0.156418
2011-01-12   -0.861992
dtype: float64

In [34]:
ts['1/6/2011':'1/11/2011']

2011-01-07   -1.844047
2011-01-08    0.492752
2011-01-10   -0.156418
dtype: float64

In [35]:
ts.truncate(after='1/9/2011')

2011-01-02   -1.385380
2011-01-05    1.765408
2011-01-07   -1.844047
2011-01-08    0.492752
dtype: float64

In [36]:
dates = pd.date_range('1/1/2000', periods=100, freq='W-WED')
long_df = pd.DataFrame(np.random.randn(100, 4), index = dates, 
                      columns = ['Colorado', 'Texas', 'New York', 'Ohio'])
long_df.ix['5-2001']

            Colorado     Texas  New York      Ohio
2001-05-02 -0.307617  2.307429  0.723727 -0.795451
2001-05-09 -0.727159 -0.310236 -0.371717  0.779160
2001-05-16  0.396785  0.851708 -2.143406 -0.166252
2001-05-23 -0.841071  0.440675 -0.372963 -1.581835
2001-05-30  0.159853  0.617529  0.649339  1.081163

##### Time Series with Duplicate Indices

In [38]:
date_idx = pd.DatetimeIndex(['1/1/2000', '1/2/2000', '1/2/2000', '1/2/2000', '1/3/2000'])
dup_ts = pd.Series(np.arange(5), index = date_idx)
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int32

In [39]:
dup_ts.index.is_unique

False

In [40]:
grouped = dup_ts.groupby(level=0)
grouped.mean()

2000-01-01    0
2000-01-02    2
2000-01-03    4
dtype: int32

In [41]:
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

### Date Ranges, Frequencies and Shifting

##### Generating DatetimeIndex

In [49]:
idx = pd.date_range('4/1/2012', '6/1/2012')
idx

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [51]:
pd.date_range(start='4/1/2012', periods=10)

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10'],
              dtype='datetime64[ns]', freq='D')

In [52]:
pd.date_range(end='6/1/2012', periods=10)

DatetimeIndex(['2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

'BM': business end of month

In [53]:
pd.date_range('1/1/2000', '12/1/2000', freq='BM')

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30'],
              dtype='datetime64[ns]', freq='BM')

In [54]:
pd.date_range('5/2/2012 12:56:31', periods=5)

DatetimeIndex(['2012-05-02 12:56:31', '2012-05-03 12:56:31',
               '2012-05-04 12:56:31', '2012-05-05 12:56:31',
               '2012-05-06 12:56:31'],
              dtype='datetime64[ns]', freq='D')

In [56]:
pd.date_range('5/2/2012 12:56:31', periods=5, normalize=True)

DatetimeIndex(['2012-05-02', '2012-05-03', '2012-05-04', '2012-05-05',
               '2012-05-06'],
              dtype='datetime64[ns]', freq='D')

##### Frequencies and Date Offsets

##### Shifting(Leading and Lagging) Data

### Time Zone Handling

### Periods and Period Arithmetic

In [58]:
p = pd.Period(2007, freq='A-DEC')
p

Period('2007', 'A-DEC')

In [59]:
rng = pd.period_range('1/1/2000', '6/30/2000', freq='M')
pd.Series(np.random.randn(6), index=rng)

2000-01   -1.163061
2000-02   -0.462687
2000-03   -1.174640
2000-04    2.009126
2000-05    0.728057
2000-06    1.384778
Freq: M, dtype: float64

### Resampling and Frequency Conversion

In [60]:
index = pd.date_range('1/1/2000', periods=9, freq='T')
series = pd.Series(range(9), index=index)
series

2000-01-01 00:00:00    0
2000-01-01 00:01:00    1
2000-01-01 00:02:00    2
2000-01-01 00:03:00    3
2000-01-01 00:04:00    4
2000-01-01 00:05:00    5
2000-01-01 00:06:00    6
2000-01-01 00:07:00    7
2000-01-01 00:08:00    8
Freq: T, dtype: int32

In [61]:
series.resample('3T').sum()

2000-01-01 00:00:00     3
2000-01-01 00:03:00    12
2000-01-01 00:06:00    21
Freq: 3T, dtype: int32

In [62]:
series.resample('3T', label='right').sum()

2000-01-01 00:03:00     3
2000-01-01 00:06:00    12
2000-01-01 00:09:00    21
Freq: 3T, dtype: int32

In [63]:
series.resample('3T', label='right', closed='right').sum()

2000-01-01 00:00:00     0
2000-01-01 00:03:00     6
2000-01-01 00:06:00    15
2000-01-01 00:09:00    15
Freq: 3T, dtype: int32

In [66]:
series.resample('30S').asfreq()[0:5]

2000-01-01 00:00:00    0.0
2000-01-01 00:00:30    NaN
2000-01-01 00:01:00    1.0
2000-01-01 00:01:30    NaN
2000-01-01 00:02:00    2.0
Freq: 30S, dtype: float64

In [67]:
series.resample('30S').pad()[0:5]

2000-01-01 00:00:00    0
2000-01-01 00:00:30    0
2000-01-01 00:01:00    1
2000-01-01 00:01:30    1
2000-01-01 00:02:00    2
Freq: 30S, dtype: int32

In [68]:
series.resample('30S').bfill()[0:5]

2000-01-01 00:00:00    0
2000-01-01 00:00:30    1
2000-01-01 00:01:00    1
2000-01-01 00:01:30    2
2000-01-01 00:02:00    2
Freq: 30S, dtype: int32

In [75]:
def custom_resampler(array_like):
    return np.sum(array_like) + 5

series.resample('3T').apply(custom_resampler)

2000-01-01 00:00:00     8
2000-01-01 00:03:00    17
2000-01-01 00:06:00    26
Freq: 3T, dtype: int32

In [77]:
s = pd.Series([1, 2], index=pd.period_range('2012-01-01', freq='A', periods=2))
s

2012    1
2013    2
Freq: A-DEC, dtype: int64

In [79]:
s.resample('M', convention='start').asfreq().head()

2012-01    1.0
2012-02    NaN
2012-03    NaN
2012-04    NaN
2012-05    NaN
Freq: M, dtype: float64

In [80]:
s.resample('M', convention='end').asfreq()

2012-12    1.0
2013-01    NaN
2013-02    NaN
2013-03    NaN
2013-04    NaN
2013-05    NaN
2013-06    NaN
2013-07    NaN
2013-08    NaN
2013-09    NaN
2013-10    NaN
2013-11    NaN
2013-12    2.0
Freq: M, dtype: float64

### Time Series Plotting

### Moving Window Functions